<div class="form-wrapper">
  <div class="form-container">
    <div id="title">
      <h1>New Project</h1>
    </div>
    <%= render 'layouts/errors', :object => @project %>
    <div id="form-data">
      <%= render 'form' %>
    </div>
  </div>
</div>
