/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

@import url(http://fonts.googleapis.com/css?family=Inconsolata:700)

@media only screen and (max-width : 992px)
  #profile img
    display: none


h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0.1em
  font-family: 'Inconsolata'

#errors
  border-radius: 4px
  color: #FF0000
  background-color: rgba(255, 255, 255, 0.6)

html, body
  width: 100%
  min-height: 1000px

body
  padding: 1em
  background: url('/images/background.jpg')
  background-repeat: no-repeat
  background-size: cover

div.modal-padding
  padding: 1em

div.underlay
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  min-height: 1600px
  background: linear-gradient(rgba(43, 97, 131, 1), rgba(0, 0, 0, 0.2))
  z-index: -1

div.flash
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  font-style: italic
  font-weight: bold
  background-color: white
  text-align: right
  padding-right: 2em
  font-size: 1.2em

span.error
  color: orange

span.info
  color: silver

div.form-wrapper
  padding: 4em

div.form-container
  max-width: 600px
  min-width: 300px

div.full-width
  width: 100%

div.center-contents
  text-align: center

div.center-inside
  margin: auto
  display: inline-block

.faded-box
  background-color: rgba(255, 255, 255, 0.7)
  padding: 1em

div#profile
  width: 100%
  padding: 4px

div#profile img
  width: 100%

ul
  margin-top: 2em
  margin-bottom: 2em
  padding-left: 2em
  padding-right: 2em
  list-style: none

li
  font-weight: bold
  font-size: 1.2em

table#category
  font-size: 1.4em
  width: 100%

table#category td
  padding: 0.1em 1em 0.1em 1em

td.right
  text-align: right
  vertical-align: top
  width: 30%

td.left
  text-align: left
  vertical-align: top

td.name
  font-weight: bold

td.desc
  font-style: italic
