// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-edit input {
  float: right;
  margin-left: 0.5em;
}

.comment .author {
  text-size: 0.8em;
  font-weight: bold;
}

.text {
  background-color: white;
  padding: 0.5em;
}

.post .text:first-of-type:first-letter {
  font-weight: bold;
}

.post .text {
  font-size: 1.6em;
}

.comment .text {
  font-style: italic;
}
