
<div class="col-md-9">
  <table id="category">
    <% @categories.each do |category| %>
      <tr>
        <td class="name right">
          <%= category.name %>
        </td>
        <td class="desc left">
          <%= category.description %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-3">
  <div id="profile">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALSAAAAJDA5NDhhNjc3LWFkMTYtNDhjNS1hN2U5LTZhNGU4ODYzOGE3YQ.jpg" alt="" />
    <ul>
      <li>Drew Finstrom</li>
      <li>drew@fakeaddress.net</li>
      <li>503-123-4444</li>
      <li>Portland, OR 97232</li>
      <li><a href="http://github.com/dgf1979" target="_new">Github</a></li>
      <li><a href="http://linkedin.com/in/andrewfinstrom" target="_new">LinkedIn</a></li>
    </ul>
  </div>
</div>
