<% content_for :menu do %>
   <li><%= link_to "Add Category", new_category_path %></a></li>
<% end %>

<table id="category" class="faded-box">
  <% @categories.each do |category| %>
    <tr>
      <td class="name right">
        <%= link_to category.name, category_path(category) %>
      </td>
      <td class="desc left">
        <%= category.description %>
      </td>
    </tr>
  <% end %>
</table>
