<% content_for :menu do %>
   <li><%= link_to "Add Category", new_category_path %></a></li>
<% end %>

<div class="form-wrapper full-width center-contents">
  <div class="form-container center-inside faded-box">
    <div id="title">
      <h1>New Category</h1>
    </div>
    <%= render 'layouts/errors', :object => @category %>
    <div id="form-data">
      <%= render 'form' %>
    </div>
  </div>
</div>
